* {
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
body {background:#FEFEFE;}
 
.menu_bar {
    display:none;
}
 
header {
    width: 100%;
}
 
header nav {
    background:#003759;
    z-index:1000;
    max-width: 1000px;
    width:95%;
    margin:20px auto;
}
 
header nav ul {
    list-style:none;
}
 
header nav ul li {
    display:inline-block;
    position: relative;
}
 
header nav ul li:hover {
    background:#E6344A;
}
 
header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 20px;
}
 
header nav ul li a span {
    margin-right:10px;
}
 
header nav ul li:hover .children {
    display:block;
}
 
header nav ul li .children {
    display: none;
    background:#011826;
    position: absolute;
    width: 150%;
    z-index:1000;
}
 
header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
    display: block;
}
 
header nav ul li .children li a span {
    float: right;
    position: relative;
    top:3px;
    margin-right:0;
    margin-left:10px;
}
 
header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}
 
@media screen and (max-width: 800px) {
    body {
        padding-top:80px;
    }
 
    .menu_bar {
        display:block;
        width:100%;
        position: fixed;
        top:0;
        background:#E6344A;
    }
 
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
 
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
 
    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }
 
    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }
 
    header nav ul li a {
        display: block;
    }
 
    header nav ul li:hover .children {
        display: none;
    }
 
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
 
    header nav ul li .children li a {
        margin-left:20px;
    }
 
    header nav ul li .caret {
        float: right;
    }
}








.map__image{
    margin-left: 19%;
    margin-top: 9%;
    width: 75%;
}

.map__image path{
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image path:hover {
    fill: #3538d2;
}

.map__list{
    float: right;
    width: 25%
}

.map__list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.map__list a.is-active{
    color: #3538d2;
    font-weight: bold;
    text-decoration: underline;
}

#depart-11 path{
    fill: #3538d2;
}





#copyright{
    box-shadow: 0px 2px 2px #000;
    text-align: center;
}

.contenedor{

font-family: 'Indie Flower', cursive;
}



footer {
    margin: 20px 0px 0px 0px;
    width: 100%;
    background-color: #333;
    padding: 15px 0px;
}

#pie {
    width: 810px; height: 82px;
    background-color: #333;
    margin: 0px auto;
    padding: 5px 10px;
}

#pie img {
    margin: 0px; padding: 0px;
}

#redes {
    float: left;
}